extends layout

block content
    h2 Demo
    form(method='POST')
        input(type='text' name='name')
        br
        input(type='text' name='age')
        br
        button(type='submit') Submit

