extends layout

block content

    .navbar.navbar-expand-lg.navbar-dark.bg-dark.navbar-full
      a.navbar-brand(href='/home')
        img(src='/css/img/recyclelogo.png', width='35', height='35', alt='GnC')

      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/register/profile') Profile
          li.nav-item
            a.nav-link(href='/logout') Logout

    div(class='container-fluid')
      div(class='row')
        div(class='col-3')
          form(method='POST', action='/process')
            select(name='address')
              each val in recyclables
                if val.processed === false
                  option(value=val.street)= val.street
            br
            input(type='submit')

        div(class='col-9')
          .mapbox
            #map
              
            script.
              var x = !{JSON.stringify(recyclables)}
              
              function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), 
                  {
                    zoom: 15,
                    center: { lat: 44.69254300000001, lng: -73.46696199999997 }
                  }
                );

                // list of markers
                var markers = []
                for (var i = 0; i < x.length; i++) {
                  if (x[i].processed === false) {
                    var loc = {};
                    loc.coords = {};
                    loc.coords.lat = x[i].latitude;
                    loc.coords.lng = x[i].longitude;
                    loc.content = '<strong>'+ x[i].street + '</strong><br/><small>' + x[i].city + ', ' + x[i].state + '</small>';
                    markers.push(loc);
                  }
                }
                console.log(markers);

                // Loop through markers
                for (var i = 0; i < x.length; i++) {
                  addMarker( markers[i] ); 
                }

                function addMarker(props) {
                  var marker = new google.maps.Marker({
                    position: props.coords,
                    animation: google.maps.Animation.DROP,
                    map: map
                  });

                  // Check content
                  if (props.content) {
                    var infoWindow = new google.maps.InfoWindow({content: props.content}); 
                    marker.addListener('click', function() {
                      infoWindow.open(map, marker);
                    });
                  }

                }

              }


              // >>> function for make markers bounce
              function toggleBounce() {
                if (marker.getAnimation() !== null) {
                  marker.setAnimation(null);
                } else {
                  marker.setAnimation(google.maps.Animation.BOUNCE);
                }
              }
        
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCrqfaam7V-4NH0SBi8LUcJRzMtaGl28Y4&callback=initMap')
