extends layout

block content
    .cover
      form(method='POST').drop-off-form.container-fluid.col-10.col-md-5.col-lg-3
        .form-group
            h4 Pick-up location:
            label(for='address-line-01')
            input.form-control(type='text' id='address-line-01' name='address-line-01' placeholder="Address Line 1")
            label(for='address-line-02')
            input.form-control(type='text' id='address-lin-02' name='address-line-02' placeholder="Address Line 2")
            label(for='city')
            input.form-control(type='text' id='city' name='city' placeholder="City")
            label(for='zip')
            input.form-control(type='text' id='zip' name='zip' placeholder="Zip-Code")
            br
            h4 Recycling Items:
            input(type='checkbox' id='glass' name='item' value='glass') 
            label(for='glass') Glass 
            input(type='checkbox' id='cartons' name='item' value='Cartons') 
            label(for='cartons') Cartons 
            input(type='checkbox' id='cans' name='item' value='cans') 
            label(for='cans') Cans 
            input(type='checkbox' id='paper' name='item' value='paper') 
            label(for='paper') Paper 
            input(type='checkbox' id='plastic' name='item' value='plastic')
            label(for='plastic') Plastic 
            label(for='container') Number of Container: 
            select(id='container' name='container')
                option(value=1) 1
                option(value=2) 2
                option(value=3) 3
            button.btn.btn-success(type='submit') Submit
