extends layout

block header

block content
    .homepage
      .info.container-fluid.col-10
        h1#about Clean and Green
        p Introducing Clean and Green service  that will help you recycle at your convinience.
        p Our easy to navigate interface let's you request a recycling pick up and drop off within minutes. We will pick up your recycling with a day of your request.
        a.homeregister.btn.btn-success(href='/register', role='button') Register
        a.homesignin.btn.btn-success(href='/signin', role='button') Sign In
        
