extends layout

block header

block content
  #modalRegisterForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        form(method='POST', id='addUserForm', action='/register')
          .modal-header.text-center
            h5#exampleModalLabel.modal-title.w-100.font-weight-bold Registration
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .form-group
              input.form-control(type='text' name='firstName' placeholder="First Name" required)
            .form-group
              input.form-control(type='text' name='lastName' placeholder="Last Name" required)
            .form-group
              input#exampleInputEmail1.form-control(type='email', name='email', aria-describedby='emailHelp', placeholder='Enter email' required)
            .form-group
              input#exampleInputPassword1.form-control(type='password', name='password', placeholder='Password' required)
            h4 I want to:
            .form-check.form-check-inline
              input#radioClient.form-check-input(type='radio', name='userType', value='client' required)
              label.form-check-label(for='radioClient') Recycle
            .form-check.form-check-inline
              input#radioDriver.form-check-input(type='radio', name='userType', value='driver' required)
              label.form-check-label(for='radioDriver') Pick up recycling

          .modal-footer.d-flex.justify-content-center
            button.btn.btn-success(type='submit') Submit
            button.btn.btn-success(type='button', data-dismiss='modal') Close


  #modalSignInForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        form(action='register/signIn' method='POST')
          .modal-header.text-center
            h5#exampleModalLabel.modal-title.w-100.font-weight-bold Login
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .form-group
              input#exampleInputEmail1.form-control(type='email' name='email' placeholder="E-mail" required)
            .form-group
              input#exampleInputPassword1.form-control(type='password' name='password' placeholder="Password" required)
          .modal-footer.d-flex.justify-content-center
            button.btn.btn-success(type='submit') Login
            button.btn.btn-success(type='button', data-dismiss='modal') Close

  .container-fluid.cover-home
    - if (messages.success) {
      .alert.alert-success(role='alert')
        p #{messages.success}
    - }
    .caption-home
      h1.display-3 Clean and Green
      p#pcaption  Recycling Made Easy
      a.btn.btn-success.btn-lg.bottons(id='lalala', href="", data-toggle="modal", data-target="#modalRegisterForm") Register
      a.btn.btn-success.btn-lg.bottons(href="", data-toggle="modal", data-target="#modalSignInForm") Login
  .container.how-box
    .row
      .col.how-it-works
        h1 How it works?
    .row
      .col-lg-4
        i.fas.fa-user-circle.fa-7x
        h2 Register
        p
          | Register for a free account. Our service will allow you to recycle at your convenience.
        br
      .col-lg-4
        i.fas.fa-location-arrow.fa-7x
        h2 Request a pick up
        p
          | Request a pick up by telling us your location. Our service provides pick up requests for plastic, glass, and cans.
        br
      .col-lg-4
        i.fas.fa-cubes.fa-7x
        h2 Leave your items
        p
          | Once you requested a pick up, prepare your recyclables. Leave your items at your specified location and we will pick it up.
        br
    footer.site-footer
      p This site is built by Clean and Green Team © 2018 
