// Pug temaplating engine
// More information: https://pugjs.org/api/getting-started.html

html   
    head
        link(rel="stylesheet" type="text/css" href="../css/style.css")
        title Clean and Green App
    body
        h1 Clean and Green (CnG)

        block header
        block content
