extends layout

block content
    .navbar.navbar-expand-lg.navbar-dark.bg-dark.navbar-full
      a.navbar-brand(href='/home')
        img(src='/css/img/recyclelogo.png', width='35', height='35', alt='GnC')

      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          if (user.userType === 'client')
            li.nav-item
              a.nav-link(href='/dropoff') Pick-up
          else
            li.nav-item
              a.nav-link(href='/pickup') Recyclables
          li.nav-item
            a.nav-link(href='/register/profile') Profile
          li.nav-item
            a.nav-link(href='/logout') Logout
    .mapbox
      #map
        
      script.
        var map;
        var superchargers = [
          {
            location: 'Tejon Ranch',
            latitude: 34.98661,
            longitude: -118.94630
          }
        ];

        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 44.69254300000001, lng: -73.46696199999997 },
            zoom: 16
          });
        }

      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCrqfaam7V-4NH0SBi8LUcJRzMtaGl28Y4&callback=initMap')
