extends layout

block header

block content
    .cover
      .register-box.container-fluid.col-10.col-md-5.col-lg-4
        h4#register-header Register
        .register-form
          form(method='POST')
            .form-group
              //label(for="usr") First Name
              input.form-control(type='text' name='first_name' placeholder="First Name")
            .form-group
              //label(for="usr") Last Name
              input.form-control(type='text' name='last_name' placeholder="Last Name")
            .form-group
              //label(for="email") E-mail
              input#exampleInputEmail1.form-control(type='email' name='email' placeholder="E-mail")
            .form-group
              //label(for="exampleInputPassword1") Password
              input#exampleInputPassword1.form-control(type='password' name='password' placeholder="Password")
            .form-group
              div(class='btn-group btn-group-toggle' data-toggle='buttons')
                label(class='btn btn-outline-light') Client
                  input(type='radio' value='client' name='userType' id='option1' autocomplete='off') 
                label(class='btn btn-outline-light') Driver
                  input(type='radio' value='driver' name='userType' id='option2' autocomplete='off')
            .sign-in-btn
              button.btn.btn-success(type='submit') Sign Up
          p#signin-option Already have an account?
          a.btn.btn-success(href='/signin', role='button') Sign In
        
