
    script.
      const $form = $('#addUserForm')
      const $lalala = $('#lalala')
      $form.click(function() {
        console.log('form clicked');
      });
      $lalala.click(function() {
        console.log('clicked');
      });
      $form.on("submit",function (e) {
        console.log('whee');
        console.log($(this).serialize())
        // $.ajax({
        //   url: '/',
        //   type: 'POST',
        //   data: $form.serialize(),
        //   redirect: true
        //   // success: function(response) {
        //   //   window.location.href = '/lalala';
        //   // }
        // })
      })
