extends layout.pug

block header
    h3#signin-header Sign In

block content
    .signinbox.container-fluid.col-4
      .form-group
        label(for="email") E-mail
        input#exampleInputEmail1.form-control(type='email')
      .form-group
        label(for="exampleInputPassword1") Password
        input#exampleInputPassword1.form-control(type='password')
      .sign-in-btn
        button.btn.btn-success(type='submit') Submit
