extends layout.pug

block header
    h3 Sign In

block content
    form
        label(for="emailAddress") Email Address:
        br
        input(type="text" id="emailAddress")
        br
        label(for="password") Password:
        br
        input(type="password" id="password")
        br
        button(type="submit") Register

